<div class="card" style="margin: 200px auto auto; width: 500px; height: 500px; background-color: ghostwhite; border-radius: 10px">
  <div class="card-header" style="background-color: #f1f1f1; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 10px;">
    <h1 style="margin: 0">Login</h1>
  </div>

  <div class="card-body" style="height: 386px">
    <div>
      <div style="text-align: center">
        <input pInputText placeholder="Username" [(ngModel)]="username" style="margin-top: 120px; margin-bottom: 10px; width: 70%">
      </div>

      <div style="text-align: center">
        <p-password placeholder="Password" [toggleMask]="true" [feedback]="false" [(ngModel)]="password" [style]='{"margin-bottom": "10px", "width": "70%"}' [inputStyle]="{'width': '100%'}"></p-password>
      </div>

      <div style="text-align: center">
        <button pButton class="p-button-plain" label="Login" (click)="login()" style="margin-top: 10px"></button>
      </div>
    </div>
  </div>

  <div class="card-footer" style="background-color: #f1f1f1; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 10px; height: 57px">
  </div>
</div>
